#Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

# Local override variables file
override.tf

# Ignore environment-specific variables files
*.auto.tfvars

# Ignore sensitive or secret files
*.pem
*.key
*.cert
assign2
assign2.pub

# Ignore Cloud9 specific files
/.c9/
.c9revisions/
.c9project

# Ignore IDE settings
.idea/
.vscode/
*.sublime-*
*.swp

